### Gradle ###
.gradle
.gradle-home
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/
### IntelliJ IDEA ###
.idea/
.trae/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/
### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/
### VS Code ###
.vscode/
### Mac OS ###
.DS_Store
### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/resources/*
repo/
!**/src/**/repo/
**/resources/data/forge/tags/items/nuggets/*
**/resources/data/forge/tags/items/rods/*
**/resources/data/forge/tags/items/plates/*
**/resources/data/forge/tags/items/pieces/*
**/resources/data/forge/tags/items/chunks/*